<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth Index</title>
  </head>
  <body>
    <% if (locals.user) { %>
    <h1>WELCOME BACK <%= user.username %>!</h1>
    <a href="/auth/log-out">LOG OUT!</a>
    <% } else { %>
    <a href="/auth/log-in">Log in!</a>
    <a href="/auth/sign-up">Sign up!</a>
    <% } %>
  </body>
</html>
