<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth Index</title>
  </head>
  <body>
    Auth Index!
    <a href="/auth/sign-up">Sign up!</a>
  </body>
</html>
